@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');

:root {
  --yellow_back: #FFB400;
  --background: #111111;
  --black: #030303;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  transition: .3s ease;
}

html,
body,
#root,
.App,
.Parent,
.Container,
.Home_resume {
  width: 100%;
  height: 100vh;
}

.Container,
.About_page,
.Parent,
.Content,
.App,
.Navigation,
.Nav_links,
.Home_resume,
.Resume_main,
.Resume_header,
.Resume_split,
.Contact_parent {
  display: flex;
  align-items: center;
}

.About_page {
  align-items: flex-start;
}

.App {
  position: relative;
  justify-content: center;
}

.Navigation {
  position: absolute;
  justify-content: center;
  height: 50vh;
  z-index: 5;
  right: 1rem;
}

.Nav_links {
  gap: 10px;
  justify-content: flex-end;
  margin: 2rem 0;
  width: 120px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.Link_desc {
  position: absolute;
  padding: .5rem;
  border-radius: 50px;
  background-color: var(--yellow_back);
  width: 40px;
  font-size: 1rem;
  opacity: 0;
  z-index: -1;
  right: 10px;
  text-align: center;
  transition: .5s ease;
}

.Link_icon {
  font-size: 1.1rem;
  padding: .5rem;
  z-index: 1;
  cursor: pointer;
  background-color: var(--yellow_back);
  color: #ffffff;
  border-radius: 50%;
}

.Nav_links:hover .Link_desc {
  opacity: 1;
  width: 130px;
}

a {
  text-decoration: none;
}

.Parent {
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.bgd {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.Yellow_bg {
  transform: translateX(-80%) skewX(15deg);
  background-color: var(--yellow_back);
  z-index: 1;
}

.card_bg {
  background-color: var(--yellow_back);
}

.Black_bg {
  background-color: var(--background);
}

.Black_slide {
  background-color: rgb(34, 34, 34);
  z-index: 3;
  animation: Black_slide .5s ease-out forwards;
  opacity: 1;
  animation-delay: .1s;
  transform: translateY(10%);
}

@keyframes Black_slide {
  100% {
    transform: translateY(100%);
  }
}

.Container {
  width: 90%;
  justify-content: space-between;
  height: 95vh;
  gap: 1rem;
  z-index: 2;
  transform: translateY(10%);
  animation: Slide_up .5s ease-in-out forwards;
  animation-delay: .2s;
}

@keyframes Slide_up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

.Img_div {
  width: 500px;
  border: 5px solid var(--yellow_back);
  background-color: var(--background);
  border-radius: 50px;
  overflow: hidden;
}

.User_img {
  width: 100%;
  transform: scale(1.1);
  transition: .5s ease;
}

.User_img:hover {
  transform: scale(1.14);
}

.Content {
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.Intro_name {
  text-transform: uppercase;
  color: var(--yellow_back);
  font-size: 3rem;
  margin-bottom: 1rem;
  /* font-weight: bolder; */
}

.Typewriter {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0 0 .5rem;
}

.Content p {
  width: 60%;
  text-align: center;
}

.Btn {
  margin-top: 2rem;
  width: 13rem;
  border: 1px solid var(--yellow_back);
  border-radius: 50px;
  display: flex;
  height: 30px;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.Btn p {
  margin-left: 20px;
  z-index: 1;
  outline: none;
  border: none;
  font-size: .8rem;
  font-weight: bolder;
  transition: .7s ease;
}

.Link {
  /* background-color: var(--yellow_back); */
  color: #ffffff;
  padding: .6rem;
  position: absolute;
  font-size: 1.2rem;
  right: 0;
  border-radius: 50%;
  transition: .4s ease;
}

.Flow {
  position: absolute;
  right: -20px;
  height: 100px;
  border-radius: 50%;
  width: 0;
  background-color: var(--yellow_back);
  transition: .4s ease;
}

.Btn:hover .Link {
  transform: rotate(720deg);
  color: var(--black);

}

.Btn:hover .Flow {
  width: 300px;
}

.Btn:hover>p {
  color: var(--black);
}

.Home_resume {
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.373);
  z-index: -1;
  opacity: 0;
  transition: .5s ease;
  transform: translateY(30px);
  width: 100%;

}

.Home_resume.active {
  opacity: 1;
  z-index: 9;
  transform: translateY(0);
}

.Resume_main {
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  padding: 1rem 0;
  width: 60%;
  border-radius: 20px;
  position: relative;
}

.Resume_header {
  position: relative;
  padding: 1rem;
  width: 100%;
  justify-content: center;
}

.close {
  position: absolute;
  font-size: 2rem;
  right: -30px;
  top: -30px;
  padding: .3rem;
  background-color: var(--yellow_back);
  border-radius: 50%;
  color: var(--black);
  cursor: pointer;
  transition: all .5s ease
}

.close:hover {
  transform: rotate(180deg) scale(1.05);
}

.Resume_header div {
  position: absolute;
  font-size: 5rem;
  font-weight: bolder;
  color: #ffffff2e;
}

.Resume_header h1 {
  font-size: 2.5rem;
}

.Resume_split {
  width: 90%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 0;
}

.title {
  color: #c7c7c7b8;
  margin: .2rem 0;
  font-weight: bold;
  font-size: .8rem;
}

.title span {
  margin-left: 10px;
}

.split h3 {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.Skills_info {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Icon_bg {
  padding: .5rem;
  font-size: 3rem;
  color: var(--black);
  background-color: #ffffff;
  margin: 0 .5rem 0 0;
  border-radius: 20px;
  transition: .5s ease;
}

.html:hover {
  color: rgb(195, 87, 87);
}

.node:hover {
  color: rgb(37, 158, 39);
}

.css:hover {
  color: #255692;
}

.js:hover {
  color: rgb(203, 170, 60);
}

.react:hover {
  color: rgb(87, 190, 195);
}


/* ABout Page */
.About_page {
  z-index: 7;
  width: 100%;
  height: 100vh;

}

.About_sub {
  width: 90%;
}

.About_Container {
  align-items: flex-start;
  justify-content: flex-start;
}

.Download {
  width: 250px;
}

.text_color {
  color: var(--yellow_back);
}

.Split_two p {
  font-size: .8rem;
}



/* Portfolio */
.Portfolio_split {
  width: 100%;
}

.All_portfolio {
  display: flex;
  align-items: center;
  flex-basis: content;
  justify-content: space-around;
  gap: .5rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.Each_portfolio {
  position: relative;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.Portfolio_img {
  width: 100%;

}

.Img_shade {
  width: 600%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.377);
  height: 300px;
}

.Portfolio_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -10px;
  left: 0;
  bottom: -100%;
  right: 0;
  opacity: 0;
  margin: auto;
  width: 250px;
  text-align: center;
  height: 310px;
  padding: 1rem;
  z-index: 2;
}

.Each_portfolio:hover .Portfolio_desc,
.Each_portfolio:focus .Portfolio_desc {
  bottom: 0;
  opacity: 1;
}

.Each_portfolio:hover>.Img_shade {
  background-color: #000000e8;
}

.Portfolio_desc h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.Portfolio_desc em {
  font-size: .7rem;
}

.Portfolio_desc a {
  padding: .1rem 2rem;
  margin-top: 1rem;
  font-size: .8rem;
  background-color: var(--yellow_back);
  border-radius: 10px;
}


/* CONTACT */


.Contact_parent {
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: center;
  background-color: var(--background);
  overflow: hidden;
  padding: 7rem 0 0;
}

.Contact_container,
.Contact_body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.Contact_container {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  transform: translateY(10%);
  animation: Slide_up .5s ease-in-out forwards;
  animation-delay: .2s;

}

.Contact_body {
  gap: 1rem;
  margin-top: 1rem;
}

.Contact_info {
  width: 70%;
}

.Contact_mail {
  width: 100%;
}

.Contact_info h1 {
  font-size: 1.5rem;
}

.Contact_info p {
  margin: .5rem 0;
  font-size: .8rem;
}

.Mobile_info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.info_icon {
  font-size: 1rem;
  padding: .5rem;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--yellow_back);
  margin-right: 1rem;
}

.Mobile_info div h4 {
  font-size: .9rem;
}

.Mobile_info div em {
  font-size: .8rem;
}

.Social_links {
  margin-top: .5rem;
}

.social {
  font-size: 1.2rem;
  padding: .3rem;
  margin-right: 1rem;
  border-radius: 10px;
  color: var(--yellow_back);
  background-color: #ffffff0e;
}

.social:hover {
  transform: translateY(-5px);
}

.Input_div {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.Input_div label {
  position: absolute;
  left: 99999999px;
  opacity: .7;
}

.Input_div input,
.Input_div textarea {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: .3rem 2rem;
  font-size: .8rem;
  background-color: #ffffff1b;
}

.textarea,
.textarea textarea {
  height: 10rem;
}

.Form_div {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Send {
  background-color: transparent;
}



@media screen and (max-width:990px) {
  .Intro_name {
    font-size: 2rem;

  }

  .Typewriter {
    font-size: 1.6rem;
    padding: .1rem 0;
  }

  .Content p {
    width: 60%;

  }
}

@media screen and (max-width:800px) {
  .Navigation {
    position: absolute;
    justify-content: center;
    height: 50px;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: #57575781;
    backdrop-filter: blur(10px);
  }

  .Navigation_list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .Nav_links {
    gap: 10px;
    justify-content: center;
    margin: 0;
    width: 5rem;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
  }

  .Link_desc {
    display: none;
  }

  .Link_icon {
    font-size: 1.5rem;
    padding: .8rem;
    z-index: 1;
    cursor: pointer;
    background-color: var(--yellow_back);
    color: #ffffff;
    border-radius: 50%;
  }

  .Container {
    width: 100%;
    height: 100dvh;
    gap: .3rem;
  }

  .Yellow_bg {
    display: none;
  }

  .Block {
    justify-content: center;
    flex-direction: column;
  }

  .Img_div {
    border-radius: 50%;
    width: 250px;
    height: 250px;

    border: 2px solid var(--yellow_back);
  }

  .User_img {
    border-radius: 50%;

  }

  .Resume_header div {
    font-size: 4.5rem;

  }

  .Resume_header h1 {
    font-size: 2rem;
  }

  .Resume_split {
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
  }

  .title {
    font-size: .8rem;
  }

  .title span {
    margin-left: 10px;
  }

  .split h3 {
    font-size: 1.5rem;
    margin: .5rem 0;
  }

  .Skills_info {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .Icon_bg {
    font-size: 3rem;
    margin: .5rem;
  }

  .Content p {
    width: 80%;
    text-align: center;
  }

  .Btn {
    margin-top: 2rem;
  }

  .Btn p {
    margin-left: 0;
  }

  .Each_portfolio {
    width: 90%;
    margin: .5rem 0;
  }

  .Portfolio_img {
    height: 150px;
  }

  .Img_shade {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.377);
    height: 300px;
  }

  .Portfolio_desc {
    bottom: -200%;
    opacity: 1;
    width: 100%;
    text-align: center;
  }

  .All_portfolio {
    display: flex;
    align-items: center;
    flex-basis: content;
    justify-content: space-around;
    gap: .5rem;
    width: 100%;
    flex-direction: column;
    flex-wrap: none;
  }

  .Contact_parent {
    padding: 0;
  }

  .Contact_container {
    width: 95%;
    padding-top: 8rem;
    overflow: scroll;
  }

  .Contact_body {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .Contact_info,
  .Contact_mail {
    width: 100%;
  }

  .Contact_info h1 {
    text-align: center;
  }

  .info_icon {
    font-size: 1.5rem;
  }

  .Social_links {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .contact_section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 2rem 0;
    flex-direction: column;
  }

  .Form_div {
    flex-direction: column;
    gap: 0;
  }

  form {
    padding-bottom: 3rem;
  }




}





@media screen and (max-width:550px) {
  .Parent {
    align-items: flex-start;
  }

  .Resume_main {
    width: 95%;
    justify-content: center;
  }

  .Resume_split {
    justify-content: center;
    align-items: center;
    width: 90%;

  }

  .Personal_info {
    width: 90%;

    flex-direction: column;
  }

  .split {
    width: 100%;
  }

  .close {
    position: absolute;
    font-size: 2rem;
    right: 30px;
    top: 30px;
    z-index: 4;
  }

  .Content p {
    width: 90%;
  }

  .Link_icon:hover {
    transform: scale(1.7);
  }

  .About_Container {
    overflow-y: scroll;
  }

  .About_page {
    z-index: 7;
    width: 100%;
    padding: 2rem 0 0 0;
    height: 100dvh;
  }

  .Download {
    width: 230px;
    margin-bottom: 4rem;
  }

  .Download p {
    margin-left: 20px;
  }

  .Portfolio_desc h1 {
    margin-bottom: .5rem;
    font-size: 1rem;
  }

  .Portfolio_desc em {
    font-size: .8rem;
  }

  .Portfolio_desc a {
    padding: .2rem 2rem;
    margin-top: .5rem;
    background-color: var(--yellow_back);
    border-radius: 10px;

  }
}

@media screen and (max-width:380px) {
  .Img_div {
    width: 200px;
    height: 200px;
  }

  .About_sub {
    width: 100%;
  }
}