@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');

:root{
  --yellow_back: #FFB400;
  --background:#111111;
  --black:#030303;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  transition: .3s ease;
}
html, body, #root, .App, .Parent,.Container, .Home_resume{
  width: 100%;
  height: 100vh;
}
.Container, .About_page, .Parent, .Content, .App, .Navigation, .Nav_links,.Home_resume,.Resume_main, .Resume_header,.Resume_split, .Contact_parent{
  display: flex;
  align-items: center;
}
.App{
  position: relative;
  justify-content: center;
}
.Navigation{
  position : absolute;
  justify-content: center;
  height: 50vh;
  z-index: 5;
  right: 1rem;
}
.Nav_links{
  gap: 10px;
  justify-content: flex-end;
  margin: 2rem 0;
  width: 150px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.Link_desc{
  position: absolute;
  padding: 1rem;
  border-radius: 50px;
  background-color: var(--yellow_back);
  width: 50px;
  font-size: 1.2rem;
  opacity: 0;
  z-index: -1;
  right: 10px;
  text-align: center;
  transition: .5s ease;
}
.Link_icon{
  font-size: 1.5rem;
  padding: .8rem;
  z-index: 1;
  cursor: pointer;
  background-color: var(--yellow_back);
  color: #ffffff;
  border-radius: 50%;
}

.Nav_links:hover .Link_desc{
  opacity: 1;
  width: 170px;
}
a{
  text-decoration: none;
}
.Parent{
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.bgd{
  position: absolute;
  width: 100%;
  height: 100vh;
}
.Yellow_bg{
  transform: translateX(-80%) skewX(15deg);
  background-color: var(--yellow_back);
  z-index: 1;
}
.Black_bg{
  background-color: var(--background);
}
.Black_slide{
  background-color: rgb(34, 34, 34);
  z-index: 3;
  animation: Black_slide .5s ease-out forwards;
  opacity: 1;
  animation-delay: .1s;
  transform: translateY(10%);
}

@keyframes Black_slide{
  100%{
    transform: translateY(100%);
  }
}
.Container{
  width: 95%;
  justify-content: space-between;
  height: 95vh;
  gap: 2rem;
  z-index: 2;
  transform: translateY(10%);
  animation: Slide_up .5s ease-in-out forwards;
  animation-delay: .2s;
}

@keyframes Slide_up {
  100%{
    transform: translateY(0);
    opacity: 1;
  }
  
}
.Img_div{
  width: 700px;
  border: 15px solid var(--yellow_back);
  background-color: var(--background);
  border-radius: 50px;
  overflow: hidden;
}
.User_img{
  width:100%;
  
  transition: .5s ease;
}
.User_img:hover{
  transform: scale(1.1);
}

.Content{
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.Intro_name{
  text-transform: uppercase;
  color: var(--yellow_back);
  font-size: 3.5rem;
  margin-bottom: 2rem;
  /* font-weight: bolder; */
}
.Typewriter{
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: .5rem 0;
}
.Content p{
  width: 60%;
  text-align: center;
}
.Btn{
  margin-top: 2rem;
  width: 13rem;
  border: 1px solid var(--yellow_back);
  border-radius: 30px;
  display: flex;
  height: 50px;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.Btn p{
  margin-left: 20px;
  z-index: 1;
  font-weight: bolder;
  transition: .7s ease;
}
.Link{
  background-color: var(--yellow_back);
  color: #ffffff;
  padding: .7rem;
  position: absolute;
  font-size: 1.4rem;
  right: 0;
  border-radius: 50%;
  transition: .4s ease;
}
.Flow{
  position: absolute;
  right: -20px;
  height: 100px;
  border-radius: 50%;
  width: 30px;
  background-color: var(--yellow_back);
  transition: .4s ease;
}
.Btn:hover .Link{
  transform: rotate(720deg);
  color: var(--black);
  
}
.Btn:hover .Flow{
  width: 300px;
}.Btn:hover>p{
  color: var(--black);
}
.Home_resume{
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.373);
  z-index: -1;
  opacity: 0;
  transition: .5s ease;
  transform: translateY(30px);
  width: 100%;
  
}
.Home_resume.active{
  opacity: 1;
  z-index: 9;
  transform: translateY(0);
}
.Resume_main{
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  padding: 3rem;
  width: 60%;
  border-radius: 20px;
  position: relative;
}

.Resume_header{
  position: relative;
  padding: 1rem;
  width: 100%;
  justify-content: center;
}
.close{
  position: absolute;
  font-size: 4rem;
  right: -30px;
  top:-30px;
  padding: .5rem;
  background-color: var(--yellow_back);
  border-radius: 50%;
  color: var(--black);
  cursor: pointer;
  transition: all .5s ease
}
.close:hover{
  transform: rotate(180deg) scale(1.05);
}
.Resume_header div{
  position: absolute;
  font-size: 7rem;
  font-weight: bolder;
  color: #ffffff2e;
}
.Resume_header h1{
  font-size: 3rem;
}
.Resume_split{
  width: 90%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
}
.title{
  color: #c7c7c7b8;
  margin: .5rem 0;
  font-weight: bold;
}
.title span{
  margin-left: 10px;
}
.split h3{
  font-size: 2rem;
  margin: 1rem 0;
}
.Skills_info{
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Icon_bg{
  padding: .5rem;
  font-size: 5rem;
  color: var(--black);
  background-color: #ffffff;
  margin: .5rem;
  border-radius: 20px;
  transition: .5s ease;
}
.html:hover{
  color: rgb(195, 87, 87);
}
.css:hover{
  color:#255692;
}
.js:hover{
  color: rgb(203, 170, 60);
}
.react:hover{
  color: rgb(87, 190, 195);
}


/* ABout Page */
.About_page{
  z-index: 7;
  width: 100%;
  height: 100vh;
  
}
.About_sub{
  width: 90%;
}
.About_Container{
  align-items: flex-start;
  justify-content: flex-start;
}
.Download{
  width: 250px;
}
.text_color{
  color: var(--yellow_back);
}



/* Portfolio */
.Portfolio_split{
  width: 100%;
}
.All_portfolio{
  display: flex;
  align-items: center;
  flex-basis: content;
  justify-content: space-around;
  gap: .5rem;
  width: 100%;
  flex-wrap: wrap;
}
.Each_portfolio{
  position: relative;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.Portfolio_img{
  width: 100%;
  height: 200px;
}
.Img_shade{
  width: 600%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.377);
  height: 300px;
}
.Portfolio_desc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -10px;
  left: 0;
  bottom: -100%;
  right: 0;
  opacity: 0;
  margin: auto;
  width: 300px;
  text-align: center;
  height: 310px;
  padding: 2rem;
  z-index: 2;
}

.Each_portfolio:hover .Portfolio_desc , .Each_portfolio:focus .Portfolio_desc{
  bottom: 0;
  opacity: 1;
}
.Each_portfolio:hover>.Img_shade{
  background-color: #000000e8;
}

.Portfolio_desc h1{
  margin-bottom: 1rem;
}
.Portfolio_desc a{
  padding: .5rem 2rem;
  margin-top: 1rem;
  background-color: var(--yellow_back);
  border-radius: 10px;
}


/* CONTACT */


.Contact_parent{
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: center;
  background-color: var(--background);
  overflow: hidden;
  padding: 10rem 0 0;
}
.Contact_container, .Contact_body, .Form_div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
.Contact_container{
  width: 80%;
  flex-direction: column;
  justify-content: center;
  transform: translateY(10%);
  animation: Slide_up .5s ease-in-out forwards;
  animation-delay: .2s;
  
}
.Contact_body{
  gap: 3rem;
  margin-top: 2rem;
}
.Contact_info{
  width: 40%;
}
.Contact_mail{
  width: 100%;
}

.Contact_info p{
  margin: 1rem 0;
}
.Mobile_info{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.info_icon{
  font-size: 2rem;
  padding: .5rem;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--yellow_back);
  margin-right: 1rem;
}
.Social_links{
  margin-top: 2rem;
}
.social{
  font-size: 2rem;
  padding: .5rem;
  margin-right: 1rem;
  border-radius: 10px;
  color: var(--yellow_back);
  background-color: #ffffff0e;
}
.social:hover{
  transform: translateY(-5px);
}
.Input_div{
  width: 100%;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  margin: .5rem 0;
}
.Input_div label{
  position: absolute;
  left: 99999999px;
  opacity: .7;
}
.Input_div input, .Input_div textarea{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: .3rem 2rem ;
  font-size: 1.1rem;
  background-color: #ffffff08;
}

.textarea, .textarea textarea{
  height: 200px;
}
.Form_div{
  gap: 3rem;
  justify-content: space-between;
}




@media screen and (max-width:990px) {
  .Intro_name{
    font-size: 2rem;

  }
  .Typewriter{
    font-size: 1.6rem;
    padding: .1rem 0;
  }
  .Content p{
    width: 60%;
    
  }
}

@media screen and (max-width:800px) {
  .Navigation{
    position : absolute;
    justify-content: center;
    height: 50px;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: #57575781;
    backdrop-filter: blur(10px);
  }
  .Navigation_list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Nav_links{
    gap: 10px;
    justify-content: center;
    margin: 0;
    width: 5rem;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
  }
  .Link_desc{
    display: none;
  }
  .Link_icon{
    font-size: 1.5rem;
    padding: .8rem;
    z-index: 1;
    cursor: pointer;
    background-color: var(--yellow_back);
    color: #ffffff;
    border-radius: 50%;
  }
  
  .Container{
    width: 100%;
    height: 100vh;
    gap: .3rem;
  }
  .Yellow_bg{
    display: none;
  }
  .Block{
    justify-content: center;
    flex-direction: column;
  }

  .Img_div{
    border-radius: 50%;
    width:250px;
    height: 250px;
    
    border: 2px solid var(--yellow_back);
  }
  .User_img{
    border-radius: 50%;
    
  }
  .Resume_header div{
    font-size: 4.5rem;

  }
  .Resume_header h1{
    font-size: 2rem;
  }
  .Resume_split{
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
  }
  .title{
    font-size: .8rem;
  }
  .title span{
    margin-left: 10px;
  }
  .split h3{
    font-size: 1.5rem;
    margin: .5rem 0;
  }
  .Skills_info{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .Icon_bg{
    font-size: 3rem;
    margin: .5rem;
  }
  .Content p{
    width: 80%;
    text-align: center;
  }
  .Btn{
    margin-top: 2rem;
  }
  .Btn p{
    margin-left: 0;
  }
  .Each_portfolio{
    width: 90%;  
  }
  .Portfolio_img{
    height: 150px;
  }
  .Img_shade{
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.377);
    height: 300px;
  }
  .Portfolio_desc{
    bottom: -200%;
    opacity: 1;
    width: 100%;
    text-align: center;
  }
  
  .All_portfolio{
    display: flex;
    align-items: center;
    flex-basis: content;
    justify-content: space-around;
    gap: .5rem;
    width: 100%;
    flex-direction: column;
    flex-wrap: none;
  }
  .Contact_parent{
    padding: 0;
  }
  .Contact_container{
    width: 95%;
    padding-top: 8rem;
    overflow: scroll;
  }
  .Contact_body{
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .Contact_info, .Contact_mail{
    width: 100%;
  }
  .Contact_info h1{
    text-align: center;
  }
  .info_icon{
    font-size: 1.5rem;
  }
  .Social_links{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .contact_section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 2rem 0 ;
    flex-direction: column;
  }
  .Form_div{
    flex-direction: column;
    gap: 0;
  }
 




}





@media screen and (max-width:550px) {
  .Parent{
    align-items: flex-start;
  }
  .Resume_main{
    width: 95%;
    justify-content: center;
  }
  .Resume_split{
    justify-content: center;
    align-items: center;
    width: 100%;

  }
  .Personal_info{
    width: 90%;

    flex-direction: column;
  }
  .split{
    width: 100%;
  }
  .close{
    position: absolute;
    font-size: 2rem;
    right: 30px;
    top:30px;
    z-index: 4;
  }
  .Content p{
    width: 90%;
  }
  .Link_icon:hover{
    transform: scale(1.7);
  }
  .About_Container{
    overflow-y: scroll;
  }
  .About_page{
    z-index: 7;
    width: 100%;
    padding: 10rem 0 0;
    height: 100vh;
  }
  .Download{
    width: 230px;
    margin-bottom: 2rem;
  }
  .Download p{
    margin-left: 20px;
  }
  .Portfolio_desc h1{
    margin-bottom: .5rem;
    font-size: 1rem;
  }
  .Portfolio_desc em{
    font-size: .8rem;
  }
  .Portfolio_desc a{
    padding: .2rem 2rem;
    margin-top: .5rem;
    background-color: var(--yellow_back);
    border-radius: 10px;
    
  }
}
@media screen and (max-width:380px){
  .Img_div{
    width:200px;
    height: 200px;
  }

  .About_sub{
    width: 100%;
  }
}