@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');

:root{
  --yellow_back: #FFB400;
  --background:#111111;
  --black:#030303;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
html, body, #root, .App, .Parent{
  width: 100%;
  height: 100vh;
}
.Container, .Parent, .Content, .App, .Navigation, .Nav_links{
  display: flex;
  align-items: center;
}
.App{
  position: relative;
  justify-content: center;
}
.Navigation{
  position : absolute;
  justify-content: center;
  height: 50vh;
  z-index: 9;
  right: 1rem;
}
.Nav_links{
  gap: 10px;
  justify-content: flex-end;
  margin: 2rem 0;
  width: 200px;
  overflow: hidden;
  position: relative;
}
.Link_desc{
  position: absolute;
  border-radius: 50px;
  padding: 1rem;
  background-color: var(--yellow_back);
  width: 180px;
  display: none;
  font-size: 1.2rem;
  z-index: -1;
  right: 10px;
  text-align: center;
  transition: .3s ease;
}
.Link_icon{
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--yellow_back);
  color: #ffffff;
  border-radius: 50%;
}

.Link_icon:hover ~ .Link_desc{
  width: 180px;
  display: block;
}
a{
  text-decoration: none;
}
.Parent{
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.bgd{
  position: absolute;
  width: 100%;
  height: 100vh;
}
.Yellow_bg{
  transform: translateX(-80%) skewX(15deg);
  background-color: var(--yellow_back);
  z-index: 1;
}
.Black_bg{
  background-color: var(--background);
}
.Black_slide{
  background-color: rgb(34, 34, 34);
  z-index: 3;
  animation: Black_slide .5s ease-out forwards;
  opacity: 1;
  transform: translateY(10%);
}

@keyframes Black_slide{
  100%{
    transform: translateY(100%);
  }
}
.Container{
  width: 95%;
  justify-content: space-between;
  height: 95vh;
  gap: 2rem;
  z-index: 2;
  transform: translateY(10%);
  animation: Slide_up .5s ease-in-out forwards;
  animation-delay: .2s;
  opacity: .5;
}
@keyframes Slide_up {
  100%{
    transform: translateY(0);
    opacity: 1;
  }
  
}
.User_img{
  width:35%;
  border: 15px solid var(--yellow_back);
  background-color: var(--background);
  border-radius: 50px;
}
.User_img:hover{

  animation: rotateImg .5s;
  
}
@keyframes rotateImg{
  25%{
    transform: translateX(6px);
  }
  35%{
    transform: translateX(-6px);
  }
  40%{
    transform: translateX(6px);
  }
}

.Content{
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.Intro_name{
  text-transform: uppercase;
  color: var(--yellow_back);
  font-size: 3.5rem;
  /* font-weight: bolder; */
}
.Typewriter{
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: .5rem 0;
}
.Content p{
  width: 60%;
}
.Btn{
  margin-top: 4rem;
  width: 13rem;
  border: 1px solid var(--yellow_back);
  border-radius: 30px;
  display: flex;
  height: 50px;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.Btn p{
  margin-left: 20px;
  z-index: 1;
  font-weight: bolder;
  transition: .7s ease;
}
.Link{
  background-color: var(--yellow_back);
  padding: .5rem;
  position: absolute;
  font-size: 2rem;
  right: 0;
  border-radius: 50%;
  transition: .4s ease;
}
.Flow{
  position: absolute;
  right: 0;
  height: 100px;
  border-radius: 50%;
  width: 30px;
  background-color: var(--yellow_back);
  transition: .4s ease;
}
.Btn:hover .Link{
  transform: rotate(720deg);
  color: var(--black);
  
}
.Btn:hover .Flow{
  width: 220px;
}.Btn:hover>p{
  color: var(--black);
}
